
.info-page-outer{
    height: 2000px;
}
.info-img{
    
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid black; */
    /* background-color: black; */
    /* position: absolute; */
    left: 0; 
    margin-top: 20vh;
    /* margin-top: 200px; */
    z-index: 1;
}

.info-content-div-outer{
    width: 100%;
    margin-top: 180px;

}
.info-header{
text-align: center;
font-size: 28px;
letter-spacing: 1px;
padding-left: 30px;
padding-right: 30px;
padding-bottom: 8px;
width: fit-content;
margin-left: auto;
margin-right: auto;
}
.info-content-div{
    /* background-color: rgb(241, 241, 241); */
    margin-top: 0px;
    /* height: 900px; */
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.cryptobase-description{
  font-size: 18px;
  line-height: 30px;
  letter-spacing: .2px;
  text-align: center;

}
.tutorial-description{
  font-size: 20px;
  line-height: 30px;
  letter-spacing: .2px;
  text-align: center;
  /* margin-top: 40px; */
  /* margin-bottom: 30px; */
  width: 72%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:8vw;

}
.tutorial-header{
    text-align: center;
    font-size: 28px;
    letter-spacing: 1px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 8px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
  }

.img-contain{

  width: fit-content;
/* border: 2px solid blue; */
display: flex;
justify-content: center;
margin-top: 40px;
margin-bottom: 0px;
}
.step1{
  width: 72%;
}
.tutorial-description-end{
  font-size: 20px;
  line-height: 30px;
  letter-spacing: .2px;
  text-align: center;
  /* margin-top: 40px; */
  /* margin-bottom: 30px; */
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
padding-bottom: 100px;
}




.footer{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
  padding-bottom: 40px;
}

.arrow-container{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 60px;
}
.arrow {

    height: 30px;
    width: fit-content;
    border: .1px solid black;
    border-radius: 180px;
    padding: 7px;
  }
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
   
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }