.homepage{

}
html{
	scroll-behavior: smooth;

}
@font-face {
    font-family: myFirstFont;
    src: url(/fonts/MufteyaRegular-1G8zM.ttf);
}
@font-face {
    font-family: titles;
    src: url(BreadleySansRegular-MVyEB.ttf);
}
body{
    overflow-x: hidden;
    /* overflow-y: hidden; */
    
}
body::before {
	content: "";

	position: absolute;
	margin: 0 auto;
	z-index: -10;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/* background: url(images/suburbs.jpg); */
	background-size: cover;
	background-position: center center;
	opacity: 0.07;
    /* height: 1700px; */
    /* background-color: #45b6f8; */
   /* box-shadow: 0 0 10px rgba(0, 0, 0, .9) inset; */
}

.homepage{
    display: flex;
	justify-content: center;
    /* border: 2px solid black; */
    width: 100VW;
    /* height: 100vh; */
    margin-left: -10px;
    padding-bottom:150px;
    background-image: linear-gradient(to right, #7854f7,#45c3f8);
    margin-bottom: -100px; 
}
.homepage-inner{
    margin-top: 100px;
	display: flex;
	width: 90vw;
	/* align-items: center; */
	/* border: 2px solid black; */
	justify-content: center;
    margin-left: 70px;

}
.homepage-left {
	display: block;
    margin-top: -25px;
}
.homepageImage{
    margin-top: 53px;
	height:400px;
	border-radius: 2px;
    
	margin-left: 162px;   /* previous margin left */

	margin-left: -30px;

}
.company-name{
    font-size: 60px;

	font-weight: 100;
	/* opacity:.8; */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	/* position: absolute; */
	color: #0085fa;
   /* color:  #7854f7; */
    color: white;
    /* color: black; */
	letter-spacing: 0px;
	margin-left: -4px;
    width: 400px;
	/* white-space: nowrap; */
	font-variant: tabular-nums;
	font-feature-settings: "tnum" 0;
	/* color: black; */
    /* font-family: myFirstFont; */
    /* font-family: titles; */
font-weight: bolder;
margin-top: 160px;
margin-bottom: 0px;
-webkit-appearance: none;
-moz-appearance: none;
 appearance: none;
 border-radius: 0;
}
.headline{
    font-size: 54px;

	font-weight: 100;
	/* opacity:.8; */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	/* position: absolute; */
	color: #0085fa;
    color: white;
    /* color: black; */

    /* color: black; */
	letter-spacing: 0px;
	margin-left: -2px;
    width: 780px;
	/* white-space: nowrap; */
	font-variant: tabular-nums;
	font-feature-settings: "tnum" 0;
	/* color: black; */
    /* font-family: myFirstFont; */
    /* font-family: titles; */
    margin-top: 0px;
font-weight:bolder;
-webkit-appearance: none;
-moz-appearance: none;
 appearance: none;
 border-radius: 0;

}
.description {
	font-size: 22px;
	margin-left: 1px;
	letter-spacing: 0px;
	width: 440px;
	margin-top: -50px;
	font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    color: black;
    line-height: 30px;
	/* opacity:.9; */
    /* font-family: titles; */
}
.learnmore-btn{
    /* background-color: #f7b345; */
/* background-color: black; */
border: 4px solid white;
    cursor: pointer;
    /* color: white; */
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding:10px 20px 10px 20px ;
    width: fit-content;
    font-size: 20px;
    border-radius: 2px;
    /* margin-top: -40px; */
    letter-spacing:0px;
    margin-left: 2px;
    font-weight: 400;
    position: absolute;
    top: 466px;
    color: palegreen;
    

}
.learnmore-btn a{
    /* color: #45c3f8; */
    /* color: black; */
    color: white;
    /* color: #f7b345; */
    /* color: bla; */
    
}

@media(max-width:1222px){
    body{
        margin-top: -60px;
    }
    .homepage-inner{
        margin-left: 60px;
        margin-top: 100px;
    }
    .company-name{
        font-size: 52px;
    }
    .headline{
        font-size: 50px;
        width: 540px;
    }
    .learnmore-btn{
font-size: 17.3px;
padding:8.6px 8.6px 8.6px 8.6px ;
top: 370px;

    }
    .homepageImage{
        height: 346px;
        margin-left: 126px;
        margin-top: 70px;
    }
}

@media(max-width:1070px){
    .homepage-inner{
        margin-left: 45px;
        margin-top: 105px;
    }
    .company-name{
        font-size: 44.75px;
    }
    .headline{
        font-size: 44.75px;
        width: 440px;
    }
    .learnmore-btn{
font-size: 17.3px;
padding:8.6px 8.6px 8.6px 8.6px ;
top: 410px;
    }
    .homepageImage{
        height: 297.5px;
        margin-left: -20px;

    }
    .homepage{
        /* border: 2px solid black; */

    }
}
@media(max-width:1070px){
    .homepage-inner{
        margin-left: 45px;
        margin-top: 105px;
    }
    .company-name{
        font-size: 44.75px;
    }
    .headline{
        font-size: 44.75px;
        width: 500px;
    }
    .learnmore-btn{
font-size: 17.3px;
padding:8.6px 8.6px 8.6px 8.6px ;
top: 160px;

top:340px;
    }
    .homepageImage{
        height: 297.5px;
        margin-left: 80px;

    }

}
@media(max-width:970px){
    .homepageImage{
        margin-left: 60px;
    }
    .headline{
        width: 440px;
    }
    .description{

    }
}
@media(max-width:786px){
    body{
        margin-top: -40px;
    }
    .homepage-inner{
        display: block;
        margin-left: 0px;
        /* border: 2px solid black; */
        text-align: center;

    }
    .homepage-left{
        margin-top: 400px;

    }
    .headline{
        margin: auto;
        font-size: 41px;
    }
    .company-name{
        margin: auto;
        font-size: 48px;
    }
    .learnmore-btn{
        margin: auto;
        margin-top: 20px;
        width: 100px;
        left: 49.5%;
        top: 160px;
        -webkit-transform: translateX(49.5%);
        transform: translateX(-49.5%);
    }
    .homepage-left{
        position: absolute;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        margin-top: 400px;
    }
    .homepageImage{
        position: absolute;
        height:400px;
        margin-top: 00px;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        padding-right: 12px;
    }
    
}

@media(max-width:440px){
    body{
        margin-top: -80px;
    }
.company-name{
    font-size: 46px;
}
.headline{
 width: 80vw;
 font-size: 38px;
}
.homepageImage{
    height: 325px;
    margin-top:60px ;
}
.learnmore-btn{

    top: 150px;
}
}

@media(max-width:404px){
.learnmore-btn{

    top: 145px;
}
    .company-name{
        /* border: .1px solid black; */
        width: fit-content;
    }
/* .homepageImage{
    height: 150px;
} */
    }
    @media(max-width:374px){
        .learnmore-btn{
        
            top: 185px;
        }
            .company-name{
                /* border: .1px solid black; */
                width: fit-content;
            }
        /* .homepageImage{
            height: 150px;
        } */
            }
            @media(max-width:335px){

                .homepageImage{
                    height: 270px;
                }
                .company-name{
                    margin-top: -50px;
                }
                .headline{
                    /* margin-top: -20px; */
                }
                .learnmore-btn{
                    margin-top: -20px;
                }
                    }
                              
    @media(max-width:312px){
        .learnmore-btn{
            /* top: 210px; */
            margin-top: -30px;
        }
            .headline{
                /* border: .1px solid black; */
                font-size: 34px;
            }
        /* .homepageImage{
            height: 150px;
        } */
            }
            
            .home-input{
                -webkit-appearance: none;
-moz-appearance: none;
 appearance: none;
 border-radius: 0;
            }

            /* * {
                background: #000 !important;
                color: #0f0 !important;
                outline: solid #f00 1px !important;
              }
               */