.form-container{
  width: 100vw;
  height: fit-content;
  background-image: linear-gradient(to left, #45c3f8,#7854f7);
  /* background-color:#ff9355; */
  margin-left: -8px;
  height: 600px;
  padding-bottom: 40px;

}
form {
  padding-top: 40px;

    /* border: 1px solid black; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: -300px;
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0px;

  }
  .subscribe-title{
    color:#0085fa ;
    color: white;
    font-size: 44px;
    font-weight: 700;
    padding-left: 2px;
  }
  .subscribe-descrip{
margin-top: -10px;
margin-bottom: -10px;
margin-left: 1px;
padding-left: 2px;
color: whitesmoke;

  }
  .container {
    padding: 20px;
  }
  
  input[type=email], input[type=submit] {
    width: 100%;
    padding: 12px;
    padding-top:18px;
    padding-bottom: 18px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-left: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
     appearance: none;
     border-radius: 0;
  }
.dev-position{
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-left: 2px;

  }
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    padding-top:18px;
    padding-bottom: 18px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-left: 2px;
    -webkit-appearance: none;
-moz-appearance: none;
 appearance: none;
 border-radius: 0;

  }

  input[type=submit] {
    /* background-color: black; */
    background-color: #0085fa;
    color: white;
    border: none;
    margin-left: 2px;
    font-size: 16px;
    -webkit-appearance: none;
-moz-appearance: none;
 appearance: none;
 border-radius: 0;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }
  .message-box{
    width: 100%;
    padding-top: 0px;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    margin-left: 2px;
    height: 100px;
    margin-top: 0px;
    margin-top: -200px
  }
  @font-face {
    font-family: myFirstFont;
    src: url(/fonts/MufteyaRegular-1G8zM.ttf);
}
  .trademark{
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      text-align: center;
      margin-top:-40px;
      padding-right: 10px;
  }
  @media(max-width:786px){
      form{
          margin-top: 1300px;
      }
      .subscribe-title{
          text-align: center;
      }
      .subscribe-descrip{
          text-align: center;
      }
  }

  @media(max-width:1222px){
    form{
      width: 1000px;
      padding-left: 0px;
    }
    .subscribe-title{
      font-size: 36.9px;

    }
  }
  @media(max-width:1070px){
    .container{
      /* padding: 0px;
      margin-left: auto;
      margin-right: auto; */
    }
    form{
      /* width: 100vw; */
      /* padding-left: 10px; */
      /* margin-right: 0px; */
      /* padding: 0px; */
      /* margin-right: auto; */
      width: 858px;
      padding-left: 8px;
    }
    .subscribe-title{
      font-size: 31.7px;
    }
  }
  @media(max-width:970px){
    form{
      width: 790px;
      padding-left: 0px;
      /* margin-left: 0px; */
      /* margin-left: -4px; */
    }
}
  @media(max-width:786px){
    .trademark{
      margin-bottom:30px;
      /* display: none; */
    }
    form{
      width: 88vw;
      margin-left: auto;
      margin-right: auto;

    }
    .container{
      /* padding-left: 0px; */
    }
    .subscribe-descrip{
      text-align: left;
    }
    .subscribe-title{
      text-align: left;
      width: 80vw;

    }
  }
 
  @media(max-width:742px){
    /* form{
      width: 67.5vw;
    } */
  }
  @media(max-width:480px){
    .subscribe-descrip{
      font-size:16px;
    }
  .subscribe-title{
    font-size: 28px;
  }

  }
  #mce-error-response{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 24px;
    /* border: 2px solid black; */
    font-size: 16px;
    color:red;
  }

  #mce-success-response{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 24px;
    /* border: 2px solid black; */
    font-size: 16px;
    color:#0085fa;
  }
  #recieveupdates{
margin-top: 340px;
  }
  .subscribe-btn{
    -webkit-appearance: none;
    -moz-appearance: none;
     appearance: none;
     border-radius: 0;
  }