.homepage-container{


margin-top: 22vh;
}

.company-name{
    font-size: 80px;
    color: white;
    /* color: black; */
    text-align: center;
    margin-bottom: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    font-family: missionfont;
    /* color: #0792ce; */

}
.coin-full-name-header{
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    color: white;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 30px;

  
    }

.search{
    /* border: .1px solid rgb(223, 223, 223); */
    height: fit-content;

}
.searchInputs {
    display: flex;
  }
  
  .search input {
    background-color: white;
    border: 0;
    border-radius: 180px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    padding-left: 44px;
    height: 14px;
    width: 509px;
    
  }
  
  .searchIcon {
    height: 44px;
    padding-right:0px ;
    width: 100px;
    background-color: white;
    border-top-right-radius:180px ;
    border-bottom-right-radius: 180px;
    display: grid;
    place-items: center;

  }
  
  input:focus {
    outline: none;
  }
  .searchIcon svg {
    font-size: 16px;
    color: rgb(124, 124, 124);
  }
  
  .dataResult {
    width: 620px;
    height:200px;
    background-color: white;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px; */
    overflow: hidden;
    overflow-y: auto;
    margin: auto;
    border-top:.1px solid rgb(219, 219, 219);
    /* margin-top: .2px; */
    /* font-family: missionfont; */
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  .dataResult{
    height: fit-content;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
    cursor: pointer;
    border-bottom:.1px solid rgb(224, 224, 224);
  }
  .dataResult{
    height: fit-content;
max-height: 307px;
  }
  .dataItem  {
    padding-left: 20px;
    font-size: 15px;
  }
  a {
    text-decoration: none;
  }
  
  .dataItem:hover {
    background-color: rgb(243, 243, 243);
  }
  .coin-icon{
      height: 16px;
      padding-right: 10px;
      padding-top: 1px;
  }
  #clearBtn {
    cursor: pointer;
  }
  
  
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
   font-size: 16px;
   color: rgb(124, 124, 124);

  }
  @media (max-width:750px) {
    .homepage-container{
      margin-top: 30vh;
    }
    .company-name{
      font-size: 68px;
      /* text-transform: uppercase; */
      /* letter-spacing: 4px; */
    }
    .coin-full-name-header{
      font-size: 14px;
    }
      .searchInputs{
        width: 90vw;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
      }
      .dataResult{
        width: 80vw;
      }
  }
  ::placeholder{
    font-family: missionfont;
  }